<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaquetExpress"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".AdminRepartidores"
            android:exported="true" />
        <activity
            android:name=".Ayuda"
            android:exported="true" />
        <activity
            android:name=".EnvioAsignados"
            android:exported="true" />
        <activity
            android:name=".UsuarioAdm"
            android:exported="true" />
        <activity
            android:name=".EnvioConfirmados"
            android:exported="true" />
        <activity
            android:name=".EnvioPendientes"
            android:exported="true" />
        <activity
            android:name="EnvioRastreo"
            android:exported="true" />
        <activity
            android:name="EnvioRealizados"
            android:exported="true" />
        <activity
            android:name=".HomeFragment"
            android:exported="true" />
        <activity
            android:name="HistorialPaquetes"
            android:exported="true" />
        <activity
            android:name=".EnvioDetalles"
            android:exported="true" />
        <activity
            android:name=".Seguimiento"
            android:exported="true" />
        <activity
            android:name=".DashboardRepartidor"
            android:exported="true" />
        <activity
            android:name=".Politicas"
            android:exported="true" />
        <activity
            android:name=".Terminos"
            android:exported="true" />
        <activity
            android:name="PreguntasFrecuentes"
            android:exported="true" />
        <activity
            android:name=".MenuAdm"
            android:exported="false"
            />
        <activity
            android:name=".Salir"
            android:exported="false"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>